PORT=3000
SECRET_COOKIES=prod_kitty_puff
EXCHANGE_RATE=
PHOTO_PATH=
EMAIL=
EMAIL_PASSWORD=
ADMINS_EMAIL_FOR_ORDERS=
DRIZZLE_DATABASE_URL=

#Email & EMAIL_PASSWORD is for email from whoom customers will receive emails

#PHOTO_PATH cos images in db have only names

#ADMINS_EMAIL_FOR_ORDERS will receive emails with order details



# rename to .env