PORT=3000
CURRENCY_CODE=840 # code for USD
PHOTO_PATH=
EMAIL=
EMAIL_PASSWORD=
ADMINS_EMAIL_FOR_ORDERS=
DRIZZLE_DATABASE_URL=

#Email & EMAIL_PASSWORD is for email from whom customers will receive emails

#PHOTO_PATH cos images in db have only names

#ADMINS_EMAIL_FOR_ORDERS will receive emails with order details

#CURRENCY_CODE from monobank

#DRIZZLE_DATABASE_URL cos using drizzle ORM best ORM that exist 

# rename to .env