PORT=3000
CURRENCY_CODE=840 # code for USD
PHOTO_PATH=
DRIZZLE_DATABASE_URL=
CACHE_MAX_AGE=420
TG_CORE_GROUP_ID=
TG_OFFICE_GROUP_ID=
TELE_BOT_ID=

# CACHE_MAX_AGE(in browser) set to 7 min

#Email & EMAIL_PASSWORD is for email from whom customers will receive emails

#PHOTO_PATH cos images in db have only names

#ADMINS_EMAIL_FOR_ORDERS will receive emails with order details

#CURRENCY_CODE from monobank

#DRIZZLE_DATABASE_URL cos using drizzle ORM best ORM that exist 

# rename to .env